body {
    scroll-behavior: smooth;
}
html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(media/pic1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;

}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 15px;
    display: inline-block;
}

.nav-links ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #A44CD3;
    display: block;

    margin: auto;
    transition: 0.5s;
}

.nav-links ul li a:hover::after {
    width: 100%;

}

.text_box {
    width: 90%;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.text_box h1 {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    word-spacing: 0.5vh;

}

.text_box h3 {
    font-size: 20px;
    font-weight: 600;
    color: #FBBEDE;

}

.text_box p {
    margin: 10px 0 40px;
    font-size: 28px;
    color: #fff;
}

.text_box a {
    display: inline-block;
    background: #A44CD3;
    color: #fff;
    text-decoration: none;
    padding: 12px 34px;
    font-size: 13px;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.text_box a:hover {

    color: #A44CD3;
    border: 1px solid #ffffff;
    background: transparent;
}

nav .fa {
    display: none;


}

@media(max-width: 700px) {
    .text_box h1 {
        font-size: 35px;
    }

    .text_box h3 {
        font-size: 15px;
    }

    .text_box p {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #A44CD3;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa-times {
        display: none;
    }

    nav .fa-bars {
        display: block;

    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 20px;
        margin: 40px;

    }

    .nav-links li a {
        margin-bottom: 15px;
    }
}

.skills {
    width: 80%;
    margin: auto;
    text-align: center;
    

}

.skills h1 {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.skills h3 {
    font-size: 25px;
    font-weight: 600;
}

.skills p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.skill-col {
    flex-basis: 31%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;


}

.skill-col:hover {
    box-shadow: 0 0 20px 10px rgba(212, 0, 255, 0.2);
    border: 2px solid #A44CD3;
    background: transparent;
    transform: translate(0px, -10px);
    

}
.skill-col:hover h3{
    transition: 0.5s;
    color: #a600ff;
}

.skill-col h3 {
    text-align: center;
    font-weight: 600;
    color: #fff;
    margin: 10px 0;

}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
    .projects .project {
        width: 80%; 
        margin: 20px auto;
        padding: 15px; 
    }

    .projects .project img {
        max-width: 100%; 
        margin-bottom: 10px;
    }

    .projects .project h3 {
        font-size: 18px; 
    }

    .projects a {
        padding: 10px 20px; 
        font-size: 12px; 
    }
}
@media screen and (max-width: 700px) {
    .technologies {
        padding-top: 30px; /* Adjusted padding for smaller screens */
        padding-bottom: 30px; /* Adjusted padding for smaller screens */
    }

    .technologies .technologies_col {
        width: 80%; /* Adjusted width for smaller screens */
        margin: 20px auto;
        padding: 15px; /* Adjusted padding for smaller screens */
    }

    .technologies .technologies_col img {
        width: 60%; /* Adjusted image width for smaller screens */
        max-width: 100px; /* Ensuring images scale properly */
        margin-bottom: 10px;
    }

    .technologies .layer h3 {
        font-size: 18px; /* Adjusted font size for smaller screens */
    }

    .technologies a {
        padding: 10px 20px; /* Adjusted padding for smaller screens */
        font-size: 12px; /* Adjusted font size for smaller screens */
    }
}


.skills {
    padding-top: 50px;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(media/pic2.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.skills a {
    display: inline-block;
    background: #A44CD3;
    color: #fff;
    text-decoration: none;
    padding: 12px 34px;
    font-size: 13px;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
}
.skills a:hover {

    color: #A44CD3;
    border: 1px solid #ffffff;
    background: transparent;
}


.technologies {
    margin: auto;
    text-align: center;
    padding-top: 50px;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(media/pic1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 50px; /* Added padding at the bottom for spacing */
}

.technologies h1 {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.technologies p {
    color: white;
    margin-bottom: 20px; /* Added margin at the bottom of the paragraph */
}

.technologies_col {
    width: 25%; 
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.technologies_col img {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%; 
    max-width: 100px;
}

.layer h3 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 5px;
}

.technologies_col:hover {
    box-shadow: 0 0 20px 10px rgba(212, 0, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    transform: translate(0px, -10px);
    border: 1px solid #A44CD3;
}

.technologies a {
    display: inline-block;
    background: #A44CD3;
    color: #fff;
    text-decoration: none;
    padding: 12px 34px;
    font-size: 13px;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 20px;
}

.technologies a:hover {
    border: 1px solid #ffffff;
    background: transparent;
    box-shadow: 0 0 20px 10px rgba(204, 0, 255, 0.699);
    transform: translate(0px, -10px);
}

span{
    color: #A44CD3;
}

.projects {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-top: 50px;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(media/pic2.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.projects h1 {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.projects p {
    color: white;
}

.project {
    width: 30%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-bottom: 1vh;
}

.project img {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project h3 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 5px;
}

.project p {
    color: white;
}

.project:hover {
    box-shadow: 0 0 20px 10px rgba(212, 0, 255, 0.2);
    border: 2px solid #A44CD3;
    background: rgba(255, 255, 255, 0.1);
    transform: translate(0px, -10px);
}

.projects a {
    display: inline-block;
    background: #A44CD3;
    color: #fff;
    text-decoration: none;
    padding: 12px 34px;
    font-size: 13px;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projects a:hover {
    border: 1px solid #ffffff;
    background: transparent;
    box-shadow: 0 0 20px 3px rgba(204, 0, 255, 0.699);
    transform: translate(0px, -10px);
}


.contact {
    
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-top: 50px;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(media/pic1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.contact h1 {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.contact p {
    color: white;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    display: inline-block;
    margin: 0 20px;
    
}

.social-links img {
    width: 50px; /* Adjusted size of social icons */
    height: 50px; /* Adjusted size of social icons */
    border-radius: 50%;
}



.contact .social-links img {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    transition: transform 0.3s ease; /* Added transition property */
}

.contact .social-links img:hover {
    transform: scale(1.2);
    border: 1px solid #ffffff;
    background: transparent;
    box-shadow: 0 0 20px 3px rgba(204, 0, 255, 0.699);
    transform: translate(0px, -10px);
    
    
}
.learnmorebtn {
    display: inline-block;
    background: #A44CD3;
    color: #fff;
    text-decoration: none;
    padding: 12px 34px;
    font-size: 13px;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
}

.learnmorebtn:hover {
    border: 1px solid #ffffff;
    background: transparent;
    box-shadow: 0 0 20px 10px rgba(204, 0, 255, 0.699);
    transform: translate(0px, -10px);
}

.learnmorebtn:hover::after {
    content: "Learn More";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #A44CD3;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    visibility: hidden;
}



.footer {
    background-color: #0F121B;
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-content {
    display: flex;
    align-items: center;
}

.footer .footer-logo img {
    width: 80px;
}

.footer .footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.footer .footer-links a:hover {
    color: #A44CD3;
}

.footer p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}


